* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

}

#header {
    margin-top: 10px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

#nav-list{
    margin-top: 12px;
}

.nav-link {
    align-self: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 14px;
    color :black;
}

.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 2px;
    font-size: 15px;
}

#header-img {
    align-self: flex-start;
    padding: 5px;
    width: 250px
}

#header ul li {
    display: inline;
}

#title{
    text-align: center;
    margin-top: 10px;
}

#form {
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 75px;
}

#email {
    margin-top: 25px;
    margin-bottom:15px;    
    width: 45%;
    padding: 10px;
    background-color: #fff;
    border: 0;

}

#submit {
    padding: 15px 10px;
    font-family: Arial;
    color: black;
    border: 2px;
    width: 25%;
    text-transform: uppercase;
    background-color: yellow;
    font-weight: bold;
    font-size: 14px;
}
#submit:hover{
    font-size: 15px;
}
#video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 400px;
    height: 300px;
}

main section h2 {
    text-align: center;
}

#feature{
    margin:auto 40px;
    width: 60%;
    margin: auto;
}

.feature_item {
    margin-bottom: 50px;;
}

#feature h2{
    text-align: left;
    text-transform: capitalize;
}

#feature p{
    padding : 10px 5px;
    margin : 5px;
    font-size: 14px;
}

#pricing {
    display:flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}

.pricing-list {
    border: 1px solid black;

}

.pricing-list ul li {
    /* text-decoration: none; */
    padding : 5px;
    list-style: none;
}

.pricing-list h3 {
    text-transform: uppercase;
    background-color: #ddd;
    padding: 15px 20px ;
    font-weight: bolder;
}

.pricing-list h4 {
    margin: 25px auto;
    font-size: 25px;
}

.pricing-list button {
    padding : 13px;
    margin : 5px;
    background-color: yellow;
    border: 0;
    border-radius: 2px;
    font-weight:bold;
}

.pricing-list button:hover{
    font-size: 14px;
}

footer {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ddd;
    margin: auto;
    padding: 15px;
    text-align: right;
}

footer li {
    display: inline;
}

footer li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;
}

footer li a:hover{
    font-size: 15px;
    color:rgba(0,0,0,0.5);
}

footer p {
    margin-top: 5px;
}

@media all and (max-width: 625px) {
    #nav-bar {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    #nav-list{
        margin-top: 0;
    }

    #header ul li {
        display: inline;
        width: 100%;;
        align-self: center;
    }

    #header-img {
        align-self:center;
        padding: 5px;
        width: 250px;
        margin-top: 15px;
        margin-bottom: 40px;
    }

    #submit {
        padding: 15px 10px;
        font-family: Arial;
        color: black;
        width: 25%;
        text-transform: uppercase;
        background-color: yellow;
        font-weight: bold;
        font-size: 10px;
    }
}
